.slidein-left {
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    -moz-animation-name: slidein-left;
    -webkit-animation-name: slidein-left;
    -moz-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    -moz-animation-direction: alternate;
    -webkit-animation-direction: alternate;
    position:relative;
}

@-moz-keyframes slidein-left {
    0%   {left:0px; top:0px;}
    50%  {left:700px; top:0px;}
    100% {left:0px; top:0px;}
}

@-webkit-keyframes slidein-left {
    0%   {left:0px; top:0px;}
    50%  {left:700px; top:0px;}
    100% {left:0px; top:0px;}
}

.slidein-right {
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    -moz-animation-name: slidein-right;
    -webkit-animation-name: slidein-right;
    -moz-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    -moz-animation-direction: alternate;
    -webkit-animation-direction: alternate;
    position:relative;
}

@-moz-keyframes slidein-right{
    0%   {right:0px; top:0px;}
    50%  {right:700px; top:0px;}
    100% {right:0px; top:0px;}
}
@-webkit-keyframes slidein-right{
    0%   {right:0px; top:0px;}
    50%  {right:700px; top:0px;}
    100% {right:0px; top:0px;}
}

/*logo*/

.border,
.rain{
    height: 113px;
    width: 115px;
    float: left;
}
.rain{
    border-radius: 15px;
}
.border{
    padding: 6px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}
.border.end,
.rain.end{
    -moz-transition-property: background-position;
    -moz-transition-duration: 10s;
    -moz-transition-timing-function: linear;
    -webkit-transition-property: background-position;
    -webkit-transition-duration: 10s;
    -webkit-transition-timing-function: linear;
    -o-transition-property: background-position;
    -o-transition-duration: 10s;
    -o-transition-timing-function: linear;
    transition-property: background-position;
    transition-duration: 10s;
    transition-timing-function: linear;
    background-position: -5400px 0, -4600px 0, -3800px 0, -3000px 0;
}

@-webkit-keyframes colors {
    0% {background-color: #fff;}
    15% {background-color: #77E8FF;}
    30% {background-color: #51E0FF;}
    45% {background-color: #2FDBFF;}
    60% {background-color: #51E0FF;}
    75% {background-color: #fff;}
    90% {background-color: #77E8FF;}
    100% {background-color: #00A3C8;}
}
@-moz-keyframes colors {
    0% {background-color: #fff;}
    15% {background-color: #77E8FF;}
    30% {background-color: #51E0FF;}
    45% {background-color: #2FDBFF;}
    60% {background-color: #51E0FF;}
    75% {background-color: #fff;}
    90% {background-color: #77E8FF;}
    100% {background-color: #00A3C8;}
}
@-o-keyframes colors {
    0% {background-color: #fff;}
    15% {background-color: #77E8FF;}
    30% {background-color: #51E0FF;}
    45% {background-color: #2FDBFF;}
    60% {background-color: #51E0FF;}
    75% {background-color: #fff;}
    90% {background-color: #77E8FF;}
    100% {background-color: #00A3C8;}
}
@keyframes colors {
    0% {background-color: #fff;}
    15% {background-color: #77E8FF;}
    30% {background-color: #51E0FF;}
    45% {background-color: #2FDBFF;}
    60% {background-color: #51E0FF;}
    75% {background-color: #fff;}
    90% {background-color: #77E8FF;}
    100% {background-color: #00A3C8;}
}

.border,.rain{
    /*-webkit-animation-direction: normal;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: colors;
    -webkit-animation-timing-function: ease;*/    
    -webkit-animation: colors 5s infinite; /* Safari 4+ */
    -moz-animation:    colors 5s infinite; /* Fx 5+ */
    -o-animation:      colors 5s infinite; /* Opera 12+ */
    animation:         colors 5s infinite; /* IE 10+, Fx 29+ */
}
.rain img{
    border-radius: 15px;
    width: 108px;
    height: 107px;
    margin-left: -3px;
    margin-top: -3px;
}


/*blink animation*/
@keyframes blink {
    0% { opacity: 0; }
    20% { opacity: 0.2; }
    40% { opacity: 0.4; }
    60% { opacity: 0.6; }
    80% { opacity: 0.8; }
    100% { opacity: 1; }
}
@-webkit-keyframes blink {
    0% { opacity: 0; }
    20% { opacity: 0.2; }
    40% { opacity: 0.4; }
    60% { opacity: 0.6; }
    80% { opacity: 0.8; }
    100% { opacity: 1; }
}
.blink {
    -webkit-animation: blink 0.5s linear infinite;
    -moz-animation: blink 0.5s linear infinite;
    -ms-animation: blink 0.5s linear infinite;
    -o-animation: blink 0.5s linear infinite;
    animation: blink 0.5s linear infinite;
    -moz-animation-iteration-count: 6;
    -webkit-animation-iteration-count: 6;
}
#printable { display: none; }