<div id="non-printable" class="height-wrapper block full-wrapper">
    <div class="room-types">
        <div  class="header-page" id="div-header">
            <div class="rain">
            <div class="border start">
                <img  src="img/6/img6-1.png" alt="daikin" id="logo">
            </div>
        </div>
            <h2>Super Clean Air</h2>
        </div>

        <div class="center-page" id="div-center">
            <p>The Powerful Cooling Operation boosts airflow to maximum volume for a 20-minute period. This function is simply activated by pushing the POWERFUL button on the remote controller. So now when you come home on a hot day, a powerful airflow will always be right at your fingertips.</p>
        </div>

        <div class="content-page" id="div-content">
            <div class="left-content" id="div-content-1" >
                <img id="image1"  src="img/6/img6-2.png">
            </div>
            <div class="right-content" id="div-content-2">
                <img id="image3" src="img/6/img6-4.png">
            </div>
        </div>
    </div>
</div>

<div id="printable" class="height-wrapper-print block full-wrapper-print">
    <div class="room-types-print">
        <div  class="header-page-print" id="div-header-print">
            <div class="rain">
            <div class="border start">
                <img  src="img/6/img6-1.png" alt="daikin" id="logo">
            </div>
        </div>
            <h2>Super Clean Air</h2>
        </div>

        <div class="center-page-print" id="div-center-print">
            <p>The Powerful Cooling Operation boosts airflow to maximum volume for a 20-minute period. This function is simply activated by pushing the POWERFUL button on the remote controller. So now when you come home on a hot day, a powerful airflow will always be right at your fingertips.</p>
        </div>

        <div class="content-page-print" id="div-content-print">
            <div class="left-content-print" id="div-content-1-print" >
                <img id="image1"  src="img/6/img6-2.png">
            </div>
            <div class="right-content-print" id="div-content-2-print">
                <img id="image3" src="img/6/img6-4.png">
            </div>
        </div>
    </div>
</div>


<script>
    timer1 = setTimeout(function () {
        $('#div-center').removeClass('center-page');
    }, 500);

    timer2 = setTimeout(function () {
        $('#div-content').removeClass('content-page');
    }, 1000);

    timer32 = setTimeout(function () {
        $('#div-content-1').removeClass('left-content');
        left();
    }, 2000);

    timer42 = setTimeout(function () {
        $('#div-content-2').removeClass('right-content');
        right();
    }, 2000);
</script>