<div class="height-wrapper block full-wrapper">
    <div class="room-types">
        <div  class="header-page" id="div-header">
            <img  src="img/6/img6-1.png" alt="daikin" id="logo">
            <h2>Super Clean Air</h2>
        </div>
        
        <div id="page6-text">
            <p>The Powerful Cooling Operation boosts airflow to maximum volume for a 20-minute period. This function is simply activated by pushing the POWERFUL button on the remote controller. So now when you come home on a hot day, a powerful airflow will always be right at your fingertips.</p>
        </div>

        <div id="page6-content" class="page6-content">
            <div class="page6-left">
                    <img id="image1" class="image1 slideLeft" src="img/6/img6-2.png">
                    <img id="image2" class="image2 slideRight" src="img/6/img6-3.png">
            </div>
            <div class="page6-right">
                    <img id="image3" class="image3 slideRight" src="img/6/img6-4.png">
            </div>
        </div>
    </div>
</div>
