<div id="non-printable" class="height-wrapper block full-wrapper">
    <div class="room-types">
        <div class="header-page" id="div-header">
            <div class="rain">
                <div class="border start">
                    <img id="logo" src="img/4/img4-1.png" alt="daikin">
                </div>
            </div>
            <h2>Powerful Airflow</h2>
        </div>

        <div class="center-page" id="div-center">
            <p>Power-Airflow Dual Flaps can flatten out during cooling operation to deliver cool air to the farthest corners of a room. Together with the smoothly curved Wide-Angle Louvers, you enjoy wide airflow coverage for effective cooling operation no matter where the indoor unit is placed in a room.</p>
        </div>

        <div class="content-page" id="div-content">
            <div class="left-content" id="div-content-1" >
                <img src="img/4/img4-2.png">
            </div>
    </div>
</div>

<div id="printable" class="height-wrapper-print block full-wrapper-print">
    <div class="room-types-print">
        <div class="header-page-print" id="div-header-print">
            <div class="rain">
                <div class="border start">
                    <img id="logo" src="img/4/img4-1.png" alt="daikin">
                </div>
            </div>
            <h2>Powerful Airflow</h2>
        </div>

        <div class="center-page-print" id="div-center-print">
            <p>Power-Airflow Dual Flaps can flatten out during cooling operation to deliver cool air to the farthest corners of a room. Together with the smoothly curved Wide-Angle Louvers, you enjoy wide airflow coverage for effective cooling operation no matter where the indoor unit is placed in a room.</p>
        </div>

        <div class="content-page-print" id="div-content-print">
            <div class="left-content-print" id="div-content-1-print" >
                <img src="img/4/img4-2.png">
            </div>
    </div>
</div>

<script>

    timer1 = setTimeout(function () {
        $('#div-center').removeClass('center-page');
    }, 1000);

    timer2 = setTimeout(function () {
        $('#div-content').removeClass('content-page');
    }, 1000);

    timer32 = setTimeout(function () {
        $('#div-content-1').removeClass('left-content');
        left();
    }, 1000);
</script>