<div class="height-wrapper block full-wrapper">
    <div class="room-types">
        <div class="header-page" id="div-header">
            <img id="logo" src="img/4/img4-1.png" alt="daikin">
            <h2>Powerful Airflow</h2>
        </div>
        
        <div id="page4-text">
            <p>Power-Airflow Dual Flaps can flatten out during cooling operation to deliver cool air to the farthest corners of a room. Together with the smoothly curved Wide-Angle Louvers, you enjoy wide airflow coverage for effective cooling operation no matter where the indoor unit is placed in a room.</p>
        </div>

        <div id="page4-content" class="page4-content">
            <img src="img/4/img4-2.png">
        </div>
    </div>
</div>
<script>
    timer14 = setTimeout(function () {
        $('#page4-logo').removeClass('page4-logo');
    }, 1000);

    timer24 = setTimeout(function () {
        $('#page4-text').removeClass('page4-text');
    }, 2000);

    timer34 = setTimeout(function () {
        $('#page4-content').removeClass('page4-content');
    }, 3000);
</script>