<div class="height-wrapper block full-wrapper">
    <div class="room-types">
        <div class="header-page" id="div-header">
            <img id="logo" src="img/2/img2-1.png" alt="daikin">
            <h2>Inverter Powerful Cooling System</h2>
        </div>
        
        <div id="page2-text" class="page2-text">
            <p>Build a cool environment with Daikin inverters. With inverter powerful operation, it boosts cooling performance for a 20-minute period when you first turn on the aircon or when you want to change temperature. Our revolutionary technology allows precise temperature control that constantly readjusts itself to the environment and changing occupancy. It is powerful and energy efficient while providing a comfortable environment in every room.</p>
        </div>

        <div id="page2-left" class="page2-left slideRight" style=" float: left; width: 40%;">
            <img src="img/2/img2-3-1.png">
        </div>

        <div id="page2-right" class="page2-right slideLeft" style=" float: right; width: 60%;">
            <img src="img/2/img2-3-2.png"><br>
            <img src="img/2/img2-2.png">
        </div>
    </div>
</div>
