<div id="non-printable" class="height-wrapper block full-wrapper">
    <div class="room-types">
        <div class="header-page" id="div-header">
            <div class="rain">
                <div class="border start">
                    <img id="logo" src="img/2/img2-1.png" alt="daikin">
                </div>
            </div>
            <h2>Inverter Powerful Cooling System</h2>
        </div>
        
        <div class="center-page" id="div-center">
            <p>Build a cool environment with Daikin inverters. With inverter powerful operation, it boosts cooling performance for a 20-minute period when you first turn on the aircon or when you want to change temperature. Our revolutionary technology allows precise temperature control that constantly readjusts itself to the environment and changing occupancy. It is powerful and energy efficient while providing a comfortable environment in every room.</p>
        </div>

        <div class="content-page" id="div-content">
            <div class="left-content" id="div-content-1" >
                <img src="img/2/img2-3-1.png">
            </div>
            <div class="right-content" id="div-content-2">
                <img src="img/2/img2-3-2.png"><br>
                <img src="img/2/img2-2.png"> <!--light position-->
            </div>
        </div>
    </div>
</div>

<div id="printable" class="height-wrapper-print block full-wrapper-print">
    <div class="room-types-print">
        <div class="header-page-print" id="div-header-print">
            <div class="rain">
                <div class="border start">
                    <img id="logo" src="img/2/img2-1.png" alt="daikin">
                </div>
            </div>
            <h2>Inverter Powerful Cooling System</h2>
        </div>
        
        <div class="center-page-print" id="div-center-print">
            <p>Build a cool environment with Daikin inverters. With inverter powerful operation, it boosts cooling performance for a 20-minute period when you first turn on the aircon or when you want to change temperature. Our revolutionary technology allows precise temperature control that constantly readjusts itself to the environment and changing occupancy. It is powerful and energy efficient while providing a comfortable environment in every room.</p>
        </div>

        <div class="content-page-print" id="div-content-print">
            <div class="left-content-print" id="div-content-1-print" >
                <img src="img/2/img2-3-1.png">
            </div>
            <div class="right-content-print" id="div-content-2-print">
                <img src="img/2/img2-3-2.png"><br>
                <img src="img/2/img2-2.png"> <!--light position-->
            </div>
        </div>
    </div>
</div>


<script>
    timer1 = setTimeout(function () {
        $('#div-center').removeClass('center-page');
    }, 500);

    timer2 = setTimeout(function () {
        $('#div-content').removeClass('content-page');
    }, 1000);

    timer32 = setTimeout(function () {
        $('#div-content-1').removeClass('left-content');
        left();
    }, 2000);

    timer42 = setTimeout(function () {
        $('#div-content-2').removeClass('right-content');
        right();
    }, 2000);
</script>