<div class="height-wrapper block full-wrapper">
    <div class="room-types">
        <div class="header-page" id="div-header">
            <img  src="img/3/img3-1.png" alt="daikin" style="float: left; border: none;">
            <h2>Intelligent Eye</h2>
        </div>

        <div id="page3-text">
            <p>Intelligent Eye prevents energy wastage by using its infrared sensor to detect human movement in a room. When there is no movement, Intelligent Eye increases the temperature by 2oC to give energy savings of up to 20%. This reduces energy wastage if, for example, you forget to turn off the air conditioner. The function can be conveniently activated from the remote controller.</p>
        </div>

        <div id="page3-content">
            <ul style="margin: 0;  padding: 0;  width: 100%;   float: left;">
                <li id="li-1" class="li-1 slideLeft"><img src="img/3/img3-3.png"></li>
                <li id="li-2" class="li-2 slideRight"><img src="img/3/img3-3.png"></li>
                <li class="li-3 hatch" id="li-3"><img src="img/3/img3-5.png"></li>
                <li id="li-4" class="li-4 slideLeft"><img src="img/3/img3-4.png"></li>
                <li class="li-5  hatch" id="li-5"><img src="img/3/img3-5.png"></li>
                <li id="li-6" class="li-6 slideRight"><img src="img/3/img3-3.png"></li>
                <li id="li-7" class="li-7 slideLeft"><img src="img/3/img3-3.png"></li>
            </ul>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        

    });
</script>