<div id="non-printable" class="height-wrapper block full-wrapper">
    <div class="room-types">
        <div class="header-page" id="div-header">
            <div class="rain">
                <div class="border start">
                    <img  src="img/3/img3-1.png" alt="daikin" id="logo">
                </div>
            </div>
            <h2>Intelligent Eye</h2>
        </div>

        <div id="page3-text">
            <p>Intelligent Eye prevents energy wastage by using its infrared sensor to detect human movement in a room. When there is no movement, Intelligent Eye increases the temperature by 2oC to give energy savings of up to 20%. This reduces energy wastage if, for example, you forget to turn off the air conditioner. The function can be conveniently activated from the remote controller.</p>
        </div>

        <div id="page3-content">
            <ul>
                <li id="li-1" class="li-1 slideLeft"><img src="img/3/img3-2.png"></li>
                <li id="li-2" class="li-2 slideRight"><img src="img/3/img3-3.png"></li>
                <li class="li-3 hatch" id="li-3"><img src="img/3/img3-5.png"></li>
                <li id="li-4" class="li-4 slideLeft"><img src="img/3/img3-4.png"></li>
                <li class="li-5  hatch" id="li-5"><img src="img/3/img3-5.png"></li>
                <li id="li-6" class="li-6 slideRight"><img src="img/3/img3-3.png"></li>
                <li id="li-7" class="li-7 slideLeft"><img src="img/3/img3-7.png"></li>
            </ul>
        </div>
    </div>
</div>

<div id="printable" class="height-wrapper-print block full-wrapper-print">
    <div class="room-types-print">
        <div class="header-page-print" id="div-header-print">
            <div class="rain">
                <div class="border start">
                    <img  src="img/3/img3-1.png" alt="daikin" id="logo">
                </div>
            </div>
            <h2>Intelligent Eye</h2>
        </div>

        <div id="page3-text-print">
            <p>Intelligent Eye prevents energy wastage by using its infrared sensor to detect human movement in a room. When there is no movement, Intelligent Eye increases the temperature by 2oC to give energy savings of up to 20%. This reduces energy wastage if, for example, you forget to turn off the air conditioner. The function can be conveniently activated from the remote controller.</p>
        </div>

        <div id="page3-content-print">
            <ul>
                <li id="li-1" class="li-1 slideLeft"><img src="img/3/img3-2.png"></li>
                <li id="li-2" class="li-2 slideRight"><img src="img/3/img3-3.png"></li>
                <li class="li-3 hatch" id="li-3"><img src="img/3/img3-5.png"></li>
                <li id="li-4" class="li-4 slideLeft"><img src="img/3/img3-4.png"></li>
                <li class="li-5  hatch" id="li-5"><img src="img/3/img3-5.png"></li>
                <li id="li-6" class="li-6 slideRight"><img src="img/3/img3-3.png"></li>
                <li id="li-7" class="li-7 slideLeft"><img src="img/3/img3-7.png"></li>
            </ul>
        </div>
    </div>
</div>

<script>
    timer13 = setTimeout(function () {
    $('#page3-logo').removeClass('page3-logo');
    }, 1000);

    timer23 = setTimeout(function () {
        $('#page3-text').removeClass('page3-text');
    }, 2000);

    timer33 = setTimeout(function () {
        $('#page3-content').removeClass('page3-content');
    }, 3000);

    timer43 = setTimeout(function () {
        $('#li-1').removeClass('li-1');
    }, 3000);

    timer53 = setTimeout(function () {
        $('#li-2').removeClass('li-2');
    }, 4000);

    timer63 = setTimeout(function () {
        $('#li-3').addClass('li-3-is');
    }, 5000);

    timer73 = setTimeout(function () {
        $('#li-4').removeClass('li-4');
    }, 6000);

    timer83 = setTimeout(function () {
        $('#li-5').addClass('li-5-is');
    }, 7000);

    timer93 = setTimeout(function () {
        $('#li-6').removeClass('li-6');
    }, 8000);

    timer103 = setTimeout(function () {
        $('#li-7').removeClass('li-7');
    }, 9000);
</script>