<div class="height-wrapper block full-wrapper">
    <div class="room-types">
        <div class="header-page" id="div-header">
            <img  src="img/8/img8-1.png" alt="daikin" id="logo">
            <h2>Super Quiet Operation</h2>
        </div>
        
        <div id="page8-text">
            <p class="page8-p">Availability of different operations to cater to your needs: </p>
            <h3 class="page8-h">Indoor unit quiet operation</h3>
            <p class="page8-p">Indoor unit operation sound levels are decreased by 2 or 3 dB(A) with low setting fan speed</p>
            <h3 class="page8-h">outdoor unit quiet operation</h3>
            <p class="page8-p">Outdoor unit operation sound levels are decreased by 3 dB(A)</p>
            <h3 class="page8-h">night quiet mode</h3>
            <p class="page8-p">Indoor unit operation sound levels are decreased by 2 or 3 dB(A) with low setting fan speed</p>
        </div>

        <div id="page8-content" class="page8-content">
            <img id="image1" class="image1 slideRight" src="img/8/img8-2.png">
            <img id="image2" class="image2 slideLeft" src="img/8/img8-3.png">
        </div>
    </div>
</div>
<script>
    timer18 = setTimeout(function () {
        $('#page8-logo').removeClass('page8-logo');
    }, 1000);

    timer28 = setTimeout(function () {
        $('#page8-text').removeClass('page8-text');
    }, 2000);

    timer38 = setTimeout(function () {
        $('#page8-content').removeClass('page8-content');
    }, 3000);

    timer48= setTimeout(function () {
        $('#image1').removeClass('image1');
    }, 4000);

    timer58 = setTimeout(function () {
        $('#image2').removeClass('image2');
    }, 5000);
</script>