<div class="height-wrapper block full-wrapper">
    <div class="room-types">
        <div class="header-page" id="div-header">
            <img  src="img/7/img7-1.png" alt="daikin" id="logo">
            <h2>Super Energy Saving</h2>
        </div>
        
        <div id="page7-text" class="page7-text">
            <p>The Powerful Cooling Operation boosts airflow to maximum volume for a 20-minute period. This function is simply activated by pushing the POWERFUL button on the remote controller. So now when you come home on a hot day, a powerful airflow will always be right at your fingertips.</p>
        </div>

        <div id="page7-content" class="page7-content">
            <img id="image1" class="image1 slideRight" src="img/7/img7-2.png">
        </div>    
    </div>
</div>
<script>
    timer17 = setTimeout(function () {
        $('#page7-logo').removeClass('page7-logo');
    }, 1000);

    timer27 = setTimeout(function () {
        $('#page7-text').removeClass('page7-text');
    }, 2000);

    timer37 = setTimeout(function () {
        $('#page7-content').removeClass('page7-content');
    }, 3000);

    timer47 = setTimeout(function () {
        $('#image1').removeClass('image1');
    }, 4000);   
</script>
