<div id="non-printable" class="height-wrapper block full-wrapper">
    <div class="room-types">
        <div class="header-page" id="div-header">
            <div class="rain">
                <div class="border start">
                    <img  src="img/7/img7-1.png" alt="daikin" id="logo">
                </div>
            </div>
            <h2>Super Energy Saving</h2>
        </div>

        <div class="center-page" id="div-center">
            <p class="pullUp">The Powerful Cooling Operation boosts airflow to maximum volume for a 20-minute period. This function is simply activated by pushing the POWERFUL button on the remote controller. So now when you come home on a hot day, a powerful airflow will always be right at your fingertips.</p>
        </div>

        <div id="content-title" class="content-title blink"><h3>How to read the Energy label</h3></div>

        <div class="content-page" id="div-content">
            <div id="page7wrap" class="page7wrap" style="width:100%; float:left;">
                <div id="page7wrap1" class="page7wrap1" style="width:33%; float:left; ">
                    <img id="page7wrap1_img1" class="page7wrap1_img1 blink" src="img/7/img8-1-2.png"><br>
                    <img id="page7wrap1_img2" class="page7wrap1_img2 blink" src="img/7/img8-1-3.png">
                </div>
                <div id="page7wrap2" class="page7wrap2" style="width:33%; float:left;">
                    <img class="blink" src="img/7/img8-1-1.png">
                </div>
                <div id="page7wrap3" class="page7wrap3" style="width:33%; float:left;">
                    <img id="page7wrap3_img1" class="page7wrap3_img1 blink" src="img/7/img8-1-4.png"><br>
                    <img id="page7wrap3_img2" class="page7wrap3_img2 blink" src="img/7/img8-1-5.png"><br>
                    <img id="page7wrap3_img3" class="page7wrap3_img3 blink" src="img/7/img8-1-6.png">
                </div>
            </div>
        </div>    
    </div>
</div>

<div id="printable" class="height-wrapper-print block full-wrapper-print">
    <div class="room-types-print">
        <div class="header-page-print" id="div-header-print">
            <div class="rain">
                <div class="border start">
                    <img  src="img/7/img7-1.png" alt="daikin" id="logo">
                </div>
            </div>
            <h2>Super Energy Saving</h2>
        </div>

        <div class="center-page-print" id="div-center-print">
            <p>The Powerful Cooling Operation boosts airflow to maximum volume for a 20-minute period. This function is simply activated by pushing the POWERFUL button on the remote controller. So now when you come home on a hot day, a powerful airflow will always be right at your fingertips.</p>
        </div>

        <div class="content-page-print" id="div-content-print">
            <h3 style="margin-left:150px;">How to read the Energy label</h3>
            <img id="image1" style="float:left; margin-left:30px;"  src="img/7/img7-2.png">
        </div>    
    </div>
</div>


<script>
    timer1 = setTimeout(function () {
        $('#div-center').removeClass('center-page');
    }, 500);

    timer22 = setTimeout(function () {
        $('#content-title').removeClass('content-title');
    }, 1000);

    timer2 = setTimeout(function () {
        $('#div-content').removeClass('content-page');
    }, 2000);


    timer4 = setTimeout(function () {
        $('#page7wrap1_img1').removeClass('page7wrap1_img1');
    }, 6000);

    timer5 = setTimeout(function () {
        $('#page7wrap1_img2').removeClass('page7wrap1_img2');
    }, 10000);


    timer6 = setTimeout(function () {
        $('#page7wrap3_img1').removeClass('page7wrap3_img1');
    }, 15000);

    timer61 = setTimeout(function () {
        $('#page7wrap3_img2').removeClass('page7wrap3_img2');
    }, 18000);

    timer613 = setTimeout(function () {
        $('#page7wrap3_img3').removeClass('page7wrap3_img3');
    }, 21000);
</script>
